.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif; }

* {
  padding: 0;
  margin: 0; }

.about {
  color: #4b4b4b;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh; }
  .about__text {
    opacity: 0;
    animation: aboutText 1.5s forwards;
    animation-delay: 2s;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 125%; }
    .about__text h3 {
      padding-bottom: 1.5rem; }
    .about__text p a {
      text-decoration: none;
      color: #2c2c2c;
      font-weight: bold; }
    @media only screen and (max-width: 950px) {
      .about__text {
        font-size: 95%; } }
    @media only screen and (max-width: 500px) {
      .about__text {
        width: 80%; } }

@keyframes headerName {
  0% {
    transform: translateY(100px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes headerTitle {
  0% {
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes headerImage {
  0% {
    transform: translateX(-100px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes aboutText {
  0% {
    opacity: 0; }
  30% {
    opacity: .4; }
  65% {
    opacity: .7; }
  100% {
    opacity: 1; } }

@keyframes BackgroundAnimate {
  0% {
    background-position: top; }
  50% {
    background-position: bottom; }
  100% {
    background-position: top; } }

.header {
  display: flex;
  min-height: 45vh;
  padding: 0 10%;
  background: linear-gradient(270deg, #00ffbbab, #2f997ea6, #296556af, #224b40a1), url("../images/codeImage.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: top;
  animation: BackgroundAnimate 25s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  align-items: center; }
  @media only screen and (max-width: 950px) {
    .header {
      flex-direction: column;
      min-height: 70vh;
      background-size: 300%; } }
  .header__text {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
    @media only screen and (max-width: 550px) {
      .header__text {
        padding-top: 15px; } }
    .header__text--name {
      color: #fff;
      opacity: 0;
      animation: headerName 1.5s ease forwards;
      font-size: 250%;
      letter-spacing: 1.5px; }
      @media only screen and (max-width: 950px) {
        .header__text--name {
          font-size: 200%;
          letter-spacing: 3px; } }
    .header__text--title {
      color: #fff;
      padding-top: 2.5rem;
      transform: translateX(50px);
      opacity: 0;
      animation: headerTitle 1.5s ease forwards;
      animation-delay: 1s;
      font-size: 150%;
      letter-spacing: 3px; }
      @media only screen and (max-width: 950px) {
        .header__text--title {
          font-size: 150%; } }
  .header__image {
    flex: 1;
    opacity: 0;
    align-items: center;
    animation: headerImage 1.5s ease forwards;
    animation-delay: 1.5s; }
    .header__image img {
      width: 50%; }
      @media only screen and (max-width: 950px) {
        .header__image img {
          margin: 0 auto;
          width: 100%;
          height: 150px; } }

.skills {
  background-color: green;
  min-height: 100vh;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .skills h3 {
    text-align: center;
    font-size: 150%;
    transform: rotate(-7deg); }
  .skills__grid {
    padding: 3rem;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    grid-gap: 50px;
    transform: rotate(-7deg); }
    @media only screen and (max-width: 950px) {
      .skills__grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px; } }
    @media only screen and (max-width: 750px) {
      .skills__grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 1rem; } }
    .skills__grid svg, .skills__grid img {
      width: 100px;
      height: 100px;
      transition: all .7s; }
      @media only screen and (max-width: 950px) {
        .skills__grid svg, .skills__grid img {
          width: 80px;
          height: 80px; } }
      @media only screen and (max-width: 750px) {
        .skills__grid svg, .skills__grid img {
          width: 50px;
          height: 50px; } }
      .skills__grid svg:hover, .skills__grid img:hover {
        filter: brightness(1.5); }
