@-webkit-keyframes headerName{
    0%{
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px)
    }
}

@keyframes headerName{
    0%{
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px)
    }
}

@-webkit-keyframes headerTitle{
    0%{
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}

@keyframes headerTitle{
    0%{
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}

@-webkit-keyframes headerImage{
    0%{
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}

@keyframes headerImage{
    0%{
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}

@-webkit-keyframes aboutText{
    0%{
        opacity: 0;
    }
    30%{
        opacity: .4;
    }
    65%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}

@keyframes aboutText{
    0%{
        opacity: 0;
    }
    30%{
        opacity: .4;
    }
    65%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes BackgroundAnimate {
    0%{
        background-position:top;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position:top;
    }
}

@keyframes BackgroundAnimate {
    0%{
        background-position:top;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position:top;
    }
}

@-webkit-keyframes SkillsBackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes SkillsBackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes SkillsBackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}