@keyframes headerName{
    0%{
        transform: translateY(100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes headerTitle{
    0%{
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes headerImage{
    0%{
        transform: translateX(-100px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes aboutText{
    0%{
        opacity: 0;
    }
    30%{
        opacity: .4;
    }
    65%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}

@keyframes BackgroundAnimate {
    0%{
        background-position:top;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position:top;
    }
}
