.link{
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    color: $color-gray-2;
    align-items: center;
    transition: all .7s;

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            font-size: 125%;
        }
    }

    @media only screen and (max-width: 1150px) {
        font-size: 95%;
    }

    @media only screen and (max-width: 650px) {
        font-size: 75%;
    }

    &:hover{
        color: $color-gray-3;
    }
}