.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 7.5vh;
    justify-content: space-around;
    color: $color-gray-1;
    padding: 2rem 0;
    background: linear-gradient(to top, rgba(15, 124, 91, 0.6), white);

    &__links{
        display: flex;
        justify-content: space-around;
        list-style: none;

        p{
            margin-left: .5rem;
        }


    }
}