.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 60vh;
    padding: 0 10%;
    background: -webkit-gradient(linear,
                right top, left top,
                from(#00ffbbab), color-stop(#2f997ea6),
                color-stop(#296556af), to(#224b40a1))
                ,url("../images/codeImage.jpg");
    background: -webkit-linear-gradient(right,
                #00ffbbab, #2f997ea6,
                #296556af, #224b40a1)
                ,url("../images/codeImage.jpg");
    background: -o-linear-gradient(right,
                #00ffbbab, #2f997ea6,
                #296556af, #224b40a1)
                ,url("../images/codeImage.jpg");
    background: linear-gradient(270deg,
                #00ffbbab, #2f997ea6,
                #296556af, #224b40a1)
                ,url("../images/codeImage.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: top;
    -webkit-animation: BackgroundAnimate 25s linear infinite;
            animation: BackgroundAnimate 25s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 65% , 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65% , 0 100%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media only screen and (max-width: 950px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 80vh;
        background-size: 300%;
        text-align: center;
    }

    &__text{
        -webkit-box-flex: .5;
            -ms-flex: .5;
                flex: .5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-weight: bold;

        @media only screen and (max-width: 550px) {
            padding-top: 1.5vh;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }

        &--name{
            color: #fff;
            opacity: 0;
            -webkit-animation: headerName 1.5s ease forwards;
                    animation: headerName 1.5s ease forwards;
            font-size: 4em;
            letter-spacing: .1em;

            @media only screen and (max-width: 950px) {
                font-size: 200%;
            }
        }

        &--title{
            color: #fff;
            padding-top: 2.5rem;
            -webkit-transform: translateX(50px);
                -ms-transform: translateX(50px);
                    transform: translateX(50px);
            opacity: 0;
            -webkit-animation: headerTitle 1.5s ease forwards;
                    animation: headerTitle 1.5s ease forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
            font-size: 150%;
            letter-spacing: .15em;

            @media only screen and (max-width: 950px) {
                font-size: 150%;
            }
        }
    }

    &__image{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        opacity: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-animation: headerImage 1.5s ease forwards;
                animation: headerImage 1.5s ease forwards;
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s;

        img{
            width: 50%;

            @media only screen and (max-width: 950px) {
                margin: 0 auto;
                width: 100%;
                height: 10rem;
            }

            @media only screen and (max-width: 400px) {
                height: 9rem;
            }
        }
    }
}