.skills{
    background: linear-gradient(270deg, #11da68, #1ec9689d, #eaffeb);
    background-size: 600% 600%;
    //min-height: 40vh;
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh;
    -webkit-animation: SkillsBackgroundAnimation 8s ease infinite;
    -moz-animation: SkillsBackgroundAnimation 8s ease infinite;
    animation: SkillsBackgroundAnimation 8s ease infinite;

    @media only screen and (max-width: 850px) {
        padding: 40vh 0;
     }

     @media only screen and (max-width: 550px) {
        padding: 25vh 0;
     }

     &__container{
         padding: 1rem;
     }

    h3{
        text-align: center;
        font-size: 150%;
        transform: rotate(-10deg);
        color: $color-gray-1;
    }

    &__grid{
        padding: 2rem 0;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        grid-gap: 3rem;
        transform: rotate(-10deg);

        @media only screen and (max-width: 1150px) {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (max-width: 850px) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 550px) {
            grid-gap: 2rem;
        }

        svg,img{
            width: 12vh;
            height: 12vh;
            transition: all .7s;

            @media only screen and (max-width: 950px) {
                width: 10vh;
                height: 10vh;
            }

            @media only screen and (max-width: 750px) {
                width: 7vh;
                height: 7vh;
            }

            &:hover{
                filter: brightness(1.5);
            }
        }
    }
}