.skills{
    background: -webkit-gradient(linear, right top, left top, from(#11da68), color-stop(#1ec9689d), to(#eaffeb));
    background: -webkit-linear-gradient(right, #11da68, #1ec9689d, #eaffeb);
    background: -o-linear-gradient(right, #11da68, #1ec9689d, #eaffeb);
    background: linear-gradient(270deg, #11da68, #1ec9689d, #eaffeb);
    background-size: 600% 600%;
    min-height: 80vh;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20vh;
    -webkit-animation: SkillsBackgroundAnimation 8s ease infinite;
    animation: SkillsBackgroundAnimation 8s ease infinite;

    @media only screen and (max-width: 850px) {
        padding: 40vh 0;
     }

     @media only screen and (max-width: 550px) {
        padding: 25vh 0;
     }

    h3{
        text-align: center;
        font-size: 150%;
        -webkit-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
        color: $color-gray-1;
        padding-top: 6rem;

        @media only screen and (max-width: 750px) {
           font-size: 85%;
           padding-top: 3.5rem;
        }
    }

    &__grid{
        padding: 5rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: (1fr)[2];
            grid-template-rows: repeat(2, 1fr);
        -ms-grid-columns: (1fr)[6];
            grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        grid-gap: 3rem;
        -webkit-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);

        @media only screen and (max-width: 1150px) {
            -ms-grid-rows: (1fr)[3];
                grid-template-rows: repeat(3, 1fr);
            -ms-grid-columns: (1fr)[4];
                grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (max-width: 850px) {
            -ms-grid-rows: (1fr)[4];
                grid-template-rows: repeat(4, 1fr);
            -ms-grid-columns: (1fr)[3];
                grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 500px) {
            -ms-grid-rows: (1fr)[4];
                grid-template-rows: repeat(4, 1fr);
            -ms-grid-columns: (1fr)[3];
                grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            padding: 1rem;
        }

        svg,img{
            width: 100px;
            height: 100px;
            -webkit-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s;

            @media only screen and (max-width: 950px) {
                width: 80px;
                height: 80px;
            }

            @media only screen and (max-width: 750px) {
                width: 50px;
                height: 50px;
            }

            &:hover{
                -webkit-filter: brightness(1.5);
                        filter: brightness(1.5);
            }
        }
    }
}